<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cryptoviewapp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D57573712E1EBB1B00A24518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D575737E2E1EBB1C00A24518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D57573882E1EBB1C00A24518</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
